.mestre {
    display: flex;
    background-color: lightsteelblue;
}

#ftitulos {
   display: flex;
    margin-left: 2%;
    margin-top: 1%;
}

tr:hover {
    cursor: pointer;
}

#tbtitulos {
    
    font: 14px Verdana;
}

#dGridTitulos {
margin-left: -2%;
}


input[type=button] {

    width: 70px;
    height: 35px;
}

.footer {
    margin-top: 3px;
    padding: 1px;
    text-align: center;
  }
  
.form-group {
    width: auto; /* 10 vezes o tamanho da fonte padrão */
    height: auto; /* 8 vezes o tamanho da fonte do elemento pai */
  
}

.form-control {
    width: 84%;
}

.form-control2{
    width: 70%;

}

.destacar {
    font-weight: bold
}
