.mestre {
    display: flex;
    background-color: skyblue;
}

#ftitulos {
   display: flex;
    margin-left: 2%;
    margin-top: 1%;
}

tr:hover {
    cursor: pointer;
}

#tbtitulos {
    
    font: 14px Verdana;
}

#dGridTitulos {
margin-left: 2%;
}


input[type=button] {

    width: 70px;
    height: 38px;
}

.footer {
    margin-top: 3px;
    padding: 1px;
    text-align: center;
  }
  

